*{
	margin:0;
	padding:0;
}
body{
	background-color:#1c1c1c;
}
.middle{
	margin:auto;
}
.main{
	width:700px;
}
.keyboardImage{
	transform: perspective( 600px ) rotateX( 80deg );
	transition:1s all ease-in-out;
	z-index:100;
	margin-top:-170px !important;
	display:block;
	width : 500px;
}

div.main{
	height:100%;
	width:50%;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
}
.monitorImage{
	transition:1s all ease-in-out;
	z-index:101;
	width:390px;
	margin-left:55px; 
	margin-top : -0px;
}

.middle:hover img.keyboardImage{
	transform: perspective( 600px ) rotateX( 0deg );
	/*padding-top:150px;*/
	transform: translate(0, 160px);
	width : 460px;
	margin-left : -3px;
}

.middle:hover img.monitorImage{
	transform: perspective( 600px ) rotateX( -15deg );	
	width:490px;
	margin-bottom:-30px;
	margin-left:-18px;
}