*{
	margin:0;
	padding:0;
}
body{
	background-color:#1c1c1c;
}
.middle{
	width : 100	%;
	margin-left: 50px;
	margin-top: 20px;
}
.main{
}


div.main{
	
}


.keyboardImage{
	transform: perspective( 600px ) rotateX( 80deg );
	transition:1s all ease-in;
	
	z-index:100;
	margin-top:-140px;
	margin-left : 15px;
	display:block;
	width : 56%;
}
.monitorImage{
	transition:1s all linear;
	
	z-index:101;
	width:45%;
	margin-left:55px; 
	
}

.middle:hover img.keyboardImage{
	transform: perspective( 600px ) rotateX( 0deg );
	padding-left:108px;
	transform: translate(0, 120px);
	width : 270px;
	margin-left : -28px;
}

.middle:hover img.monitorImage{
	transform: perspective( 600px ) rotateX( -45deg );	
	width:300px; /*490*/
	margin-top : -30px;
	margin-bottom:-30px;
	margin-left:65px; /*-18*/
}
