*{
	margin:0;
	padding:0;
}
body{
	/*background-color:#1c1c1c;*/
	background-color: #fff;
}
.middle{
	width : 800px;
	margin-left : 50px;
	margin-top : 20px;
}
.main{
}


div.main{
	
}


.keyboardImage{
	transform: perspective( 600px ) rotateX( 80deg );
	transform-origin: 50% 0%;
	transition:1s all ease-in-out;	
	z-index:100;
	margin-top:-15px;
	margin-left : 150px;
	display:block;
	width : 50%;
}
.monitorImage{
	transition:1s all ease-out;	
	z-index:101;
	width:51%;
	margin-left:147px; 
	
}

.middle:hover img.keyboardImage{
	transform: perspective( 600px ) rotateX( 0deg );
	margin-top: -39px;
	width: 48%;
	margin-left : 159px;
}

.middle:hover img.monitorImage{
	transform: perspective( 600px ) rotateX( -20deg );	
	transform-origin: 50% 50%;
	
}
